/* styles.css */

/* Hero*/
.hero {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

#hero-image {
  width: 500px;
}

.hero h1 {
  font-size: 4rem;
}

.hero p {
  font-size: 1.2rem;
  color: gray;
}

.content {
  padding: 40px 0;
}
